{% assign speaker = include.speaker %}

<script src="{{ "/assets/js/placeholder.js" | relative_url }}"></script>
<div class="speaker-box text-center" id="{{ speaker.id }}-id" data-speaker-info="#{{ speaker.id }}-info">
    <div class="speaker-box-inner">
		<h3 class="h4 speaker-name"><button href="#" class="speaker-info-toggle" data-target="#{{ speaker.id }}" aria-expanded="false" aria-controls="{{ speaker.id }}-info">{{ speaker.name }}</button></h3>

		{% if speaker.image_alt and speaker.image_src %}
            <img class="clip-circle-lg" src="{{ speaker.image_src }}" alt="{{ speaker.image_alt }}">
		{% elsif speaker.image_src %}
			<img class="clip-circle-lg" src="{{ speaker.image_src }}" alt="Profile image for {{ speaker.name }}">
		{% else %}
			<script>
				placeholderImage("clip-circle-lg",
					" {{ speaker.name |  escape }} ",
					"/assets/img/nopics/nopic#.jpg",
					"Random placeholder for {{ speaker.name | escape }}",
					10);
			</script>
		{% endif %}

        <div class="speaker-mini">
			{% if speaker.pronouns.size > 0 %}
				<p class="speaker-pronouns">({{ speaker.pronouns }})</p>
			{% endif %}

			{% if speaker.position-title.size > 0 %}
				<p class="speaker-title">{{ speaker.position-title }}</p>
			{% endif %}

			{% if speaker.institution.size > 0 %}
				<p class="speaker-inst">{{ speaker.institution }}</p>
			{% endif %}
        </div>
        <div class="arrow-down"></div>
    </div>
</div>
<div class="speaker-info" id="{{ speaker.id }}-info">
    <div class="speaker-info-inner">
		{% if speaker.image_alt.size > 0 %}
		    <h4 class="image-description">Profile Image Description</h4>
		    <p class="image-description">{{ speaker.image_alt }}</p>
		{% endif %}
		<h4 class="sr-only">Speaker Bio for {{speaker.name }}</h4>
        <p class="speaker-bio">
            {{ speaker.bio }}
        </p>
        {% unless speaker.keynote %}
            {% assign talks = site.posts | where:'type','talk' %}
            {% for talk in talks  %}
                {% for speaker_id in talk.speakers %}
                    {% if speaker_id == speaker.id %}
                    <p class="speaker-session">Talk: <a href="{{ talk.url }}" tabindex="-1">{{ talk.title }}</a></p>
                    {% endif %}
                {% endfor %}
            {% endfor %}

            {% assign workshops = site.posts | where:'type','workshop' %}
            {% for shop in workshops  %}
                {% for speaker_id in shop.speakers %}
                    {% if speaker_id == speaker.id %}
                    <p class="speaker-session">Workshop: <a href="{{ shop.url }}" tabindex="-1">{{ shop.title }}</a></p>
                    {% endif %}
                {% endfor %}
            {% endfor %}

            {% assign posters = site.posts | where:'type','poster' %}
            {% for poster in posters  %}
                {% for speaker_id in poster.speakers %}
                    {% if speaker_id == speaker.id %}
                    <p class="speaker-session">Poster: <a href="{{ poster.url }}" tabindex="-1">{{ poster.title }}</a></p>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endunless %}
    </div>
</div>
